@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  font-size: 16px;
  background: #f3f3f3;
  color: #3e3e3e;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  margin-top: 120px;
}

@media (max-width: 767px) {
  .section {
    margin-top: 60px;
  }
}

.head {
  font-size: 36px;
  font-weight: bold;
  padding: 58px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
  .head {
    font-size: 30px;
    padding: 36px;
  }
}

.button1 a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 236px;
  padding: 16px 0;
  border: solid 1px #707070;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  letter-spacing: 0.2em;
}

.button1 a:hover {
  color: #fff;
  background: #3e3e3e;
}

@media (max-width: 767px) {
  .button1 a {
    width: 268px;
    padding: 13px 0;
    font-size: 18px;
  }
}

.button2 a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 290px;
  padding: 20px 0;
  border: solid 1px #fff;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
}

.button2 a:hover {
  color: #3e3e3e;
  background: #fff;
}

@media (max-width: 767px) {
  .button2 a {
    width: 316px;
    padding: 13px 0;
    font-size: 18px;
  }
}

.button-color {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #ffaa3b;
  margin-top: 40px;
  letter-spacing: .025em;
  width: 280px;
  height: 48px;
  line-height: 48px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px #3e3e3e33;
          box-shadow: 0 3px 5px #3e3e3e33;
  text-align: center;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.button-color:hover {
  background: #f18900;
}

@media (max-width: 767px) {
  .button-color {
    width: 222px;
    margin: 30px auto 0;
    font-size: 16px;
  }
}

.header {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

@media (max-width: 767px) {
  .header {
    height: 68px;
    line-height: 68px;
    background: rgba(255, 255, 255, 0.6);
  }
}

.header.add-scrolled {
  background: rgba(255, 255, 255, 0.6);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav li:not(:first-child) {
  margin-left: 40px;
}

.header-nav li a {
  padding-bottom: 8px;
  position: relative;
}

.header-nav li a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #3e3e3e;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header-nav li a:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header-title {
  font-size: 23px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-left: 16px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (min-width: 768px) {
  .header-title {
    display: none;
  }
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 201;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

@media (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}

.drawer-icon.is-active {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

@media (max-width: 360px) {
  .drawer-icon.is-active {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}

.drawer-icon.is-active .drawer-icon__bar1 {
  top: 8px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  top: 8px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-icon__bars {
  width: 26px;
  height: 26px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  content: '';
  top: 3px;
  left: 0;
  width: 26px;
  height: 4px;
  background: #3e3e3e;
  border-radius: 4px;
}

.drawer-icon__bar2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.drawer-icon__bar3 {
  top: 19px;
}

.drawer-contents {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #fff;
  text-align: center;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-contents.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 360px) {
  .drawer-contents.is-active {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .drawer-contents {
    display: none;
  }
}

.drawer-items {
  letter-spacing: -.025em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.drawer-items li:not(:first-child) {
  margin-top: 19px;
}

.drawer-items li a {
  display: block;
  line-height: 1.5;
}

.drawer-background {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 199;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.top {
  width: 100%;
  height: 648px;
  background: url(../img/mv.png) no-repeat center center/cover;
}

.top-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.top-box {
  width: 600px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-36%);
          transform: translateY(-36%);
}

@media (max-width: 767px) {
  .top-box {
    position: unset;
    padding: 480px 16px 0;
    width: 100%;
  }
}

.top-title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.02px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .top-title {
    font-size: 24px;
    line-height: 1.66667;
    -webkit-transform: translateY(-34%);
            transform: translateY(-34%);
  }
}

.top-text {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  letter-spacing: 0.45px;
  line-height: 1.45;
}

@media (max-width: 767px) {
  .top-text {
    font-size: 14px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .news {
    margin: -40px 16px 0;
    position: relative;
  }
}

.news-inner {
  background: #fff;
  -webkit-box-shadow: 0 5px 12px #3e3e3e33;
          box-shadow: 0 5px 12px #3e3e3e33;
  padding: 0 48px 40px;
}

@media (max-width: 767px) {
  .news-inner {
    padding: 0 0 36px;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #f0f0f0;
  padding: 38px 110px 38px 12px;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  cursor: pointer;
  position: relative;
}

.news-item:last-child {
  border-bottom: 2px solid #f0f0f0;
}

.news-item:hover {
  background: #4973ff1a;
}

.news-item::after {
  content: '';
  position: absolute;
  background: url(../img/news-arrow.svg) no-repeat center center/contain;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 21.2px;
  height: 21.2px;
}

@media (max-width: 959px) {
  .news-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .news-item {
    padding: 12px 34px 12px 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.news-date {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 98px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .news-date {
    font-size: 14px;
  }
}

.news-label {
  font-size: 14px;
  margin-left: 38px;
  border: 2px solid #4973ff;
  border-radius: 50px;
  text-align: center;
  background: #fff;
  width: 121px;
  padding: 0 30px;
  line-height: 1.8;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .news-label {
    font-size: 12px;
    margin-left: 0;
    padding: 0 14px;
    width: 81.8px;
    line-height: 1.4;
  }
}

.news-title {
  font-size: 18px;
  margin-left: 38px;
  line-height: 1.6;
}

@media (max-width: 959px) {
  .news-title {
    margin-left: 0;
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .news-title {
    font-size: 14px;
    width: 100%;
  }
}

.news-button {
  margin-top: 40px;
  text-align: center;
}

.service {
  position: relative;
}

.service-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #3e3e3e;
  width: 100%;
  height: 400px;
  z-index: -1;
}

@media (max-width: 959px) {
  .service-inner {
    margin: 0 16px;
  }
}

@media (max-width: 767px) {
  .service-inner {
    margin: 0 16px;
  }
}

.service-head {
  color: #fff;
}

.swiper-container {
  overflow: hidden;
}

.service-items {
  max-width: 960px;
  background: #fff;
  -webkit-box-shadow: 0 5px 12px #3e3e3e33;
          box-shadow: 0 5px 12px #3e3e3e33;
  margin: 0 auto;
  padding: 60px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .service-items {
    display: block;
    padding: 40px 34px;
    height: 100%;
  }
}

.service-item {
  width: 27%;
}

@media (max-width: 767px) {
  .service-item {
    width: 100%;
  }
  .service-item:not(:first-child) {
    margin-top: 40px;
  }
}

.service-img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.service-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 8px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1.4;
  text-align: center;
}

.service-text {
  font-size: 14px;
  margin-top: 14px;
  line-height: 1.71429;
}

.results {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .results {
    margin-left: 0;
  }
}

.results-inner {
  background: #3e3e3e;
  padding: 0 0 60px 60px;
}

@media (max-width: 767px) {
  .results-inner {
    padding: 36px 0 40px 16px;
  }
}

.results-head {
  color: #fff;
  text-align: left;
}

@media (max-width: 767px) {
  .results-head {
    text-align: center;
    padding: 36px 16px 36px 0;
  }
}

.results-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results-item:hover {
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  opacity: 0.7;
}

.results-content {
  background: #fff;
  color: #3e3e3e;
  padding: 12px 16px 20px;
}

@media (max-width: 767px) {
  .results-content {
    padding: 12px 12px 8px;
  }
}

.results-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .results-title {
    font-size: 14px;
  }
}

.results-text {
  margin-top: 16px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .results-text {
    font-size: 12px;
    margin-top: 6px;
  }
}

.swiper-pagination {
  position: unset !important;
  text-align: left !important;
  margin: 44px 0 0 -5px;
  height: 20px;
}

@media (max-width: 767px) {
  .swiper-pagination {
    text-align: center !important;
    margin: 30px 0 0 -5px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  background: #fff;
  height: 12px;
  margin: 0 10px !important;
  opacity: 1;
  width: 12px;
  position: relative;
}
/* 
.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  border: solid 1px #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
} */

.results-button {
  margin-top: 44px;
}

@media (max-width: 767px) {
  .results-button {
    margin: 24px 16px 0 0;
    text-align: center;
  }
}

.price {
  margin: 0 16px;
}

.price-table {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.price-table p {
  font-size: 12px;
  margin-top: 12px;
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  table-layout: fixed;
  width: 100%;
}

.table th,
.table td {
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.table th {
  width: 27.29167%;
  color: #fff;
  background: #3e3e3e;
  text-align: center;
  padding: 16px 0;
}

.table td {
  width: 72.70833%;
  padding: 16px 0 16px 40px;
  background: #fff;
}

.table .th {
  border-bottom: 1px solid #ddd;
}

.table .td {
  border-bottom: 1px solid #707070;
}

.comments {
  position: relative;
}

@media (max-width: 767px) {
  .comments {
    margin-top: 54px;
  }
}

.comments-bg {
  position: absolute;
  top: 148px;
  left: 0;
  width: 76.5625%;
  height: 800px;
  background: #3e3e3e;
  z-index: -1;
}

@media (max-width: 767px) {
  .comments-bg {
    width: 100%;
  }
}

.comments-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 16px;
}

.comments-head {
  padding: 0;
  margin-bottom: 58px;
}

@media (max-width: 767px) {
  .comments-head {
    margin-bottom: 30px;
  }
}

.comments-left {
  width: 55.5%;
  padding: 114px 60px 124px;
  background: #fff;
  z-index: 50;
  -webkit-box-shadow: 0 0 10px #00000029;
          box-shadow: 0 0 10px #00000029;
}

@media (max-width: 767px) {
  .comments-left {
    width: 100%;
    padding: 40px 20px 32px;
  }
}

.comments-head {
  text-align: left;
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-item:not(:first-child) {
  padding-top: 60px;
}

@media (max-width: 767px) {
  .comments-item:not(:first-child) {
    padding-top: 28px;
  }
}

.comments-item__img img {
  width: 100px;
  height: 100px;
}

@media (max-width: 767px) {
  .comments-item__img img {
    width: 56px;
    height: 56px;
  }
}

.comments-item__text {
  margin-left: 32px;
  line-height: 1.5;
  font-weight: bold;
}

@media (max-width: 767px) {
  .comments-item__text {
    font-size: 14px;
    font-weight: normal;
  }
}

.comments-right {
  width: 44.5%;
  z-index: 50;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .comments-right {
    display: none;
  }
}

.faqs {
  padding-bottom: 120px;
  background: url(../img/qa-bg.png) no-repeat top center/cover;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  .faqs {
    background: url(../img/qa-bg.png) no-repeat top center/cover;
    background-attachment: unset;
  }
}

@media (max-width: 767px) {
  .faqs-inner {
    margin: 0 16px;
  }
}

.faqs-items {
  width: 612px;
  margin-left: auto;
}

@media (max-width: 767px) {
  .faqs-items {
    width: 100%;
    margin: 0;
  }
}

.faqs-item {
  background: #fff;
  padding: 16px 18px 14px;
  border-radius: 4px;
  line-height: 1.5;
}

.faqs-item:not(:first-child) {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .faqs-item {
    padding: 16px;
  }
}

.faqs-item__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faqs-item__logo {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: #4973ff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

.faqs-item__title {
  margin-left: 16px;
}

.faqs-item__bars {
  width: 17px;
  height: 17px;
  margin-left: auto;
  position: relative;
}

.faqs-item__bars.is-active .bar2 {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.faqs-item__bar {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 17px;
  height: 3px;
  background: #4973ff;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.bar2 {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.faqs-item__answer {
  background: #3B69FF33;
  border-radius: 4px;
  padding: 14px;
  margin-top: 14px;
  display: none;
}

@media (max-width: 767px) {
  .faqs-item__answer {
    font-size: 14px;
    padding: 10px;
  }
}

.access {
  margin: 0 auto;
  position: relative;
}

.access-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 76.5625%;
  height: 500px;
  background: #3e3e3e;
  z-index: -1;
}

@media (max-width: 767px) {
  .access-bg {
    width: 100%;
    height: 100%;
  }
}

.access-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .access-inner {
    display: block;
  }
}

.access-box {
  padding: 120px 0 0 60px;
  color: #fff;
}

@media (max-width: 767px) {
  .access-box {
    padding: 40px 16px 60px;
  }
}

.access-head {
  padding-top: 0;
  text-align: left;
}

.access-info {
  line-height: 1.6;
}

.access-button {
  max-width: 314px;
  margin-top: 32px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .access-map__sp {
    width: 100%;
    max-width: 100%;
    margin: 24px 0 0;
  }
}

@media (min-width: 768px) {
  .access-map__sp {
    display: none;
  }
}

.access-map__sp .iframe-wrap {
  width: 100%;
  height: 240px;
  padding-top: 33.05785%;
  position: relative;
}

.access-map__sp .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .access-map__pc {
    width: 726px;
    max-width: 100%;
    margin: 120px 0 0 100px;
  }
}

@media (max-width: 767px) {
  .access-map__pc {
    display: none;
  }
}

.access-map__pc .iframe-wrap {
  width: 100%;
  height: 520px;
  padding-top: 71.62534%;
  position: relative;
}

.access-map__pc .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact {
  padding: 60px 16px;
  background: url(../img/contact-bg.png) no-repeat center center/cover;
}

@media (max-width: 767px) {
  .contact {
    padding: 40px 16px;
    margin: 0;
  }
}

.contact-inner {
  max-width: 960px;
  background: #fff;
  border-radius: 12px;
  margin: 0 auto;
}

.contact-top {
  padding: 60px 0;
  background: url(../img/contact1.png) no-repeat center center/cover;
  border-radius: 12px 12px 0 0;
}

.contact-head {
  font-size: 36px;
  color: #fff;
  padding: 0;
}

.contact-text {
  color: #fff;
  margin-top: 16px;
  text-align: center;
}

.contact-form {
  padding: 60px 120px;
}

@media (max-width: 767px) {
  .contact-form {
    padding: 36px 12px 38px;
  }
}

.form-row:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .form-row:not(:last-child) {
    display: block;
  }
}

.form-row:nth-child(n + 2) {
  padding-top: 32px;
}

.form-label {
  width: 25%;
  max-width: 100%;
  font-weight: bold;
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 188px;
          flex: 0 0 188px;
}

.requireLabel {
  color: #fff;
  background-color: #ff4646;
  font-size: 12px;
  width: 40px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  margin-left: 12px;
  text-align: center;
  border-radius: 2px;
}

.form-input {
  width: 100%;
  padding: 0;
  position: relative;
}

@media (max-width: 767px) {
  .form-input {
    margin-top: 12px;
  }
}

.form-input [type="text"],
.form-input [type="textKatakana"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: #fff;
  background: #fff;
  padding: 0 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  letter-spacing: 0.03em;
  outline: none;
}

@media (max-width: 767px) {
  .form-input [type="text"],
  .form-input [type="textKatakana"] {
    padding: 0;
    font-size: 14px;
  }
}

.form-input [type="text"]:hover + .contact-focusLine, .form-input [type="text"]:focus + .contact-focusLine,
.form-input [type="textKatakana"]:hover + .contact-focusLine,
.form-input [type="textKatakana"]:focus + .contact-focusLine {
  background-color: #4973ff;
  -webkit-box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
          box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
}

.form-input [type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: #fff;
  padding: 0 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  letter-spacing: 0.03em;
  outline: none;
}

@media (max-width: 767px) {
  .form-input [type="email"] {
    padding: 0;
    font-size: 14px;
  }
}

.form-input [type="email"]:hover + .contact-focusLine, .form-input [type="email"]:focus + .contact-focusLine {
  background-color: #4973ff;
  -webkit-box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
          box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
}

.form-input select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #3e3e3e;
  padding: 12px 34px 12px 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  width: 260px;
  letter-spacing: 0.1em;
  outline: none;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  background: #fff url(../img/chevron-down-solid.svg) no-repeat right 12px center/17px 14px;
}

@media (max-width: 767px) {
  .form-input select {
    font-size: 14px;
  }
}

.form-input select:hover {
  -webkit-box-shadow: 0 0 4px #4973ff;
          box-shadow: 0 0 4px #4973ff;
}

.form-input textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #3e3e3e;
  background: #fff;
  padding: 12px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  outline: none;
  height: 240px;
  resize: none;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

@media (max-width: 767px) {
  .form-input textarea {
    height: 160px;
  }
}

.form-input textarea:hover, .form-input textarea:focus {
  border-color: #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff;
          box-shadow: 0 0 4px #4973ff;
}

/* デフォルトのラジオボタンを非表示 */
.form-radio {
  display: none;
  /* オリジナルボタンを設置するため、paddngでテキストの左側にスペースを確保 */
  /* 非表示にしたデフォルトのラジオボタンにチェックが入ると、オリジナルボタンのチェックも透明を解除して表示する */
}

.form-radio + span {
  cursor: pointer;
  display: inline-block;
  padding-left: 22px;
  position: relative;
  /* 擬似要素beforeとafterを共通でセット */
  /* beforeをラジオボタンの枠として利用するため、デザインを適用する */
  /* afterは枠の中のチェックマークとして利用するため、デザインを適用する
      デフォルトのチェックマークはopacity:0で透明にしておく*/
}

.form-radio + span::before, .form-radio + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

.form-radio + span::before {
  background: #fff;
  border: 1px solid #3e3e3e;
  display: block;
  left: 0;
  width: 12px;
  height: 12px;
}

.form-radio + span:hover::before {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  border-color: #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff;
          box-shadow: 0 0 4px #4973ff;
}

.form-radio + span::after {
  border: 1px solid transparent;
  left: 3px;
  width: 6px;
  height: 6px;
  background: #4973ff;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.form-radio:checked + span::after {
  opacity: 1;
}

.contact-focusLine {
  background-color: #3e3e3e;
  bottom: 0;
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  width: 100%;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.radio-right {
  margin-left: 40px;
}

.textarea {
  margin: 0;
  margin-top: 8px;
}

.form-check {
  padding-top: 40px;
}

.form-check [type="checkbox"] {
  display: none;
  cursor: pointer;
}

.form-check span {
  cursor: pointer;
  display: inline-block;
  padding-left: 49px;
  position: relative;
}

@media (max-width: 767px) {
  .form-check span {
    padding-left: 42px;
  }
}

.form-check span a {
  font-weight: bold;
}

.form-check span::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #3e3e3e;
}

.form-check span:hover::before {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  border-color: #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff;
          box-shadow: 0 0 4px #4973ff;
}

.form-check span:focus::before {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  border-color: #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff;
          box-shadow: 0 0 4px #4973ff;
}

.form-check span::after {
  content: '';
  position: absolute;
  left: 2px;
  bottom: 2px;
  width: 14px;
  height: 14px;
  background: transparent url(../img/check.svg) no-repeat center center/contain;
  display: none;
}

.form-check [type="checkbox"]:checked + span::after {
  display: block;
}

.form-privacy {
  font-size: 18px;
  font-weight: bold;
}

.form-button {
  padding-top: 40px;
}

@media (max-width: 767px) {
  .form-button {
    text-align: center;
  }
}

.form-button [type='button'] {
  color: #fff;
  background: #b2b2b2;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px #3e3e3e33;
          box-shadow: 0 3px 5px #3e3e3e33;
  text-align: center;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  border: none;
  width: 165px;
  height: 48px;
  line-height: 48px;
}

@media (max-width: 767px) {
  .form-button [type='button'] {
    text-align: center;
  }
}

.form-button [type='button'].is-active {
  background: #ffaa3b;
}

.form-button [type='button'].is-active:hover {
  background: #f18900;
}

.footer {
  padding: 60px 120px;
  background: #3e3e3e;
}

@media (max-width: 767px) {
  .footer {
    padding: 52px 16px 56px;
  }
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #E3E3E3;
}

@media (max-width: 767px) {
  .footer-content {
    display: block;
    text-align: center;
  }
}

.footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer-sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.i-logo {
  font-size: 36px;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.i-logo:hover {
  opacity: 1;
}

.facebook {
  margin-left: 50px;
}

.footer-important {
  margin-top: 34px;
}

@media (max-width: 767px) {
  .footer-important {
    margin-top: 24px;
  }
}

.footer-important p {
  margin-top: 24px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.footer-important p:hover {
  opacity: .6;
}

@media (max-width: 767px) {
  .footer-important p {
    margin-top: 12px;
    line-height: 2;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .footer-right {
    margin-top: 32px;
  }
}

.footer-logo {
  font-size: 40px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.footer-logo:hover {
  opacity: .6;
}

@media (max-width: 767px) {
  .footer-logo {
    font-size: 32px;
  }
}

.footer-copyright {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  opacity: 0.6;
}

@media (max-width: 767px) {
  .footer-copyright {
    margin-top: 8px;
    font-size: 12px;
  }
}

.to-top {
  z-index: 500;
  position: fixed;
  bottom: 24px;
  right: 24px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-top.is-show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 767px) {
  .to-top {
    bottom: 12px;
    right: 12px;
  }
}

.to-top a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-top a img {
  width: 60px;
}

@media (max-width: 767px) {
  .to-top a img {
    width: 50px;
  }
}

.to-top a:hover {
  opacity: 0.7;
}
